@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.highlight:hover .code-copy {
    display: block;
}

.hljs {
    background-color: transparent !important;
}

.highlight {
    position: relative;
}

@layer utilities {
    .max-w-8xl {
        max-width: 90rem;
    }

    .max-w-half {
        max-width: 50%;
    }

    .red {
        @apply text-red-500;
    }

    .blue {
        @apply text-blue-700 dark:text-sky-400;
    }

    .right {
        @apply float-right;
    }

    .left {
        @apply float-left;
    }
}

@layer components {
    #TableOfContents {
        > ul {
            @apply space-y-6 lg:space-y-2 border-l border-gray-100 dark:border-gray-700 text-sm;

            a {
                @apply font-normal block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300;
            }

            ul {
                @apply space-y-6 lg:space-y-2 py-2;
    
                a {
                    @apply pl-8 text-slate-600 hover:text-slate-800 dark:text-slate-500 dark:hover:text-slate-400;
                }
            }
        }
            
    }

    .imageblock {
        @apply px-4 my-2;
        &.thumb{
            @apply lg:max-w-md md:max-w-sm sm:max-w-full;
        }

        .content{

            img {
                @apply my-1 shadow-md dark:shadow-slate-900;
            }
        }

        .title {
            @apply text-center text-sky-600;
        }
    }

    .code-copy {
        @apply absolute top-3 right-3 text-gray-600 hover:text-gray-300 dark:text-gray-500 dark:hover:text-gray-200 hidden;
    }

    .admonitionblock {
        @apply border-l-4 border rounded-md border-gray-300 dark:border-gray-600 my-6;

        table {
            @apply my-0;

            .icon {
                @apply hidden;
            }

            .content {
                @apply px-6;
            }
        }
    }

    .admonitionblock.note {
        @apply border-l-cyan-600 ;
    }

    .admonitionblock.tip {
        @apply border-l-green-600;
    }

    .admonitionblock.warning {
        @apply border-l-orange-600;
    }

    .colist,
    .olist,
    .ulist {
        li p{
            @apply my-1;
        }
    }

    .videoblock iframe{
        @apply w-full aspect-video;
    }
}