<aside id="menu" class="hidden lg:block fixed z-20 inset-0 top-[7rem] lg:top-[3.8125rem] left-[max(0px,calc(50%-45rem))] right-auto w-[19.5rem] pb-10 px-8 overflow-y-auto bg-white dark:bg-gray-800">
    <nav class="lg:leading-6 relative">
        <ul>
            <li class="mt-12 lg:mt-8">
                <h5 class="mb-8 lg:mb-3 font-semibold text-slate-900 dark:text-slate-200">Weeks</h5>
                <ul class="space-y-6 lg:space-y-2 border-l border-gray-100 dark:border-gray-700">
                    {{ range $index, $element := .Site.Menus.docs -}}
                        <li>
                            <a href="{{ .URL | relURL }}"
                                class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300">
                                {{ .Name }}
                            </a>
                        </li>
                    {{ end -}}
                </ul>
            </li>
        </ul>
    </nav>
</aside>